
html, body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;
    padding:0;
    font-family: Parkinsans;
}

.page-content {
    background-color:#fff;
    width:100%;
    max-width:600px;
    margin:50px auto;
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 0 0 10px 5px rgba(17, 76, 124, 0.952);
}

#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3e3e3;
    margin: 15px;
}

.language-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

.language-switch img {
    margin: 2px;
    max-width: 28px;
    max-height: 28px;
}

h1 {
    text-align: center;
    align-items: center;
}

.item-wrapper:not(:last-child) {border-bottom:1px solid #e3e3e3;}
.item-wrapper {padding:15px 30px;}
.item-wrapper p {margin:2px 0;}
p.when {font-size:12px;}
p.type {font-size:16px;}
p.amount {font-size:20px;}
p.id {font-size: 20px;}

.income {color:green;}
.expense {color:red;}

.balance-wrapper {
    background-color:#ededed;
    padding:20px 30px;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 0 -10px 5px rgba(17, 76, 124, 0.952);
}

h3 {margin:0;}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding:15px 30px;
    border-bottom: 1px solid #e3e3e3;
}

form label {padding: 10px 30px;}

button, input {
    font-family: Parkinsans;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    align-self: center;
}

button {
    margin-top: 20px;
    height: 50px;
    width: 250px;  
}

button:hover {
    color: white;
    background-color: rgba(17, 76, 124, 0.952);
    box-shadow: 0 0 5px 5px rgba(150, 170, 187, 0.952);
}

form input.error {
    border-color: red;
    background-color: rgba(235, 132, 132, 0.459);
}

form span.error {
    color: red;
    font-size: 12px;
}

form span.error:not(.show) {display: none;}

.reset:not(.show) {display: none;}

.mygtukai {
    display: flex;
    justify-content: space-around; 
}

@media (max-width: 600px) {
    .mygtukai {
        flex-direction: column;
        align-items: center;
    }
}
